* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: white;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}


/*  Header  */

.main-header {
    background-color: #003580;
    padding: 1em 0;
    color: white;
}

.main-header-container {
    max-width: 1200px;
    margin: 0 auto;
}

/*  Navigation */

.main-menu {
    display: flex;
    background-color: #003580;
    list-style: none;
    padding: 1em 0;
    color: white;
}

.main-menu a {
    /* border: 1px solid red; */
    padding: 1.5em 2.5em 1.5em 0;
    color: white;
    text-decoration: none;
}

.main-menu a:hover {
    /* border: 1px solid red; */
    color: orange;
}

/*  Corps */

#wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}


.slogan {
    font-size: 300%;
    padding: 2.5rem 0;
    background-color: #003580;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
}


.box-admin {
    width: 48%;
    background-color: bisque;
    padding: 2%;
    margin: 1%;
    border: 1px dashed grey;
}

.msg {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background-color: green;
    color: white;
}

/* admin  */

.container-admin {
    display: flex;
}

table, th, td {
    text-align: center;
  }


/* Formulaire  */

.formu fieldset {
    display: flex;
    justify-content: space-between;
    border: 3px solid orange;
    font-size: 180%;
    border-radius: 5px;
    background-color: white;
    padding: 1%;
    max-width: 100%;
    margin-top: 15px;
}

.formu input,
.formu select {
    padding: 1%;
    height: 70%;
}

.clearfix {
    font-size: 90%;
    font-family: Geneva, Tahoma, sans-serif;
}

.bt-rechercher {
    height: 70%;
    /* width: 100%; */
    /* padding: 1% 5%; */
    background-color: #003580;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

/* Galerie */

.galerie {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    margin: 15px 0;
}

.galerie-item {
    /* border: 1px solid black; */
    width: 32%;
    height: 250px;
}

/*  Hotel container  */

.hotel-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin-top: 20px;
}

.hotel {
    display: flex;
    /* border: 1px solid black; */
    margin-bottom: 15px;
    background-color:aliceblue;
}

.hotel div {
    width: 100%;
    padding: 3%;
    /* border: 1px solid black; */
}

.hotel div p {
    font-family: Helvetica, sans-serif;
    color:darkslategrey;
    font-size: 120%;
    padding: 1%; 
}

.hotel img {
    width: 30%;
    height: 100%;
}

/* Footer  */

.main-footer {
    background-color: white;
}

.main-footer-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.bloc-footer {
    width: 24%;
    padding: 1% 1% 0 0 ;
    color: darkcyan;
}

.bloc-footer p {
    margin: 3% 0;
}

.copyright {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}